.vanlig {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.active{
    text-decoration: underline;
}

.menu {
 color:black;
 background-color: #3f705e;   
 overflow: visible;
 min-width: 600px;
 margin: 0 auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.pictures {
    margin: 50px 10px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

.menu-list>li {
    padding: 10px;
}

body {
    background-color: #242526;
    color: white;
}

.diagram {
    max-width: 500px; 
    margin: 30px auto;
    padding: 0px; 
    /* width: 80%; */
    justify-self: center;
}

.bilde {
    max-width: 450px;
    max-height: 200px;
    margin: 30px auto;
    padding: 20px; 
    /* width: 80%; */
    justify-self: center;
}

.creative-figures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
}

@media (max-width: 1000px) {
    .creative-figures{
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width: 600px) {
    .creative-figures{
        grid-template-columns: 1fr;
        align-self: center;
        justify-self: center;
    }
}

.creative-figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing
{width:400px;
height:400px;}

#linkenMin {
    font-style: italic;
    color:#3f705e;
}