.vanlig {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.active{
    text-decoration: underline;
}

.menu {
 color:black;
 background-color: #3f705e;   
 overflow: visible;
 min-width: 600px;
 margin: 0 auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.pictures {
    margin: 50px 10px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

.menu-list>li {
    padding: 10px;
}

body {
    background-color: #242526;
    color: white;
}